@import './scss/index.scss';

.success{
  border:1px solid $success;
  background-color: $background-success;
}

.error{
  border:1px solid $error;
  background-color: $background-error;
}

body{
  margin:0;
}

.App {
  text-align: center;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  
}


